body{
   background: white;
   color: black;
   font-family: Azote Regualr;
}
#bg-image {
   width: 50%;
}
body {
      animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s; /* Chrome and Safari */
    
}

    @keyframes colorchange
    {
      0%   {background: light red;}
      25%  {background: lightyellow;}
      50%  {background: light blue;}
      75%  {background: lightgreen;}
      100% {background: lightred;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: skyblue;}
      75%  {background: light green;}
      100% {background: pink;}
    }